@import "src/style/_variables.scss";

input {
  text-align: center;
  height: 35px;
  width: 133px;
  margin: 10px 20px;
  background-color: $bg-gray;
  border: 1px solid $gray;
}

button {
  text-align: center;
  height: 35px;
  width: 133px;
  margin: 10px 20px;
  background-color: $bg-gray;
  border: 1px solid $gray;
  outline: none;
}